
.icon-set
{
	background: #2e51a252;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    color: #2e51a2;
}

.border-top-blue
{
	border-top: 4px solid #2e51a2;
}

.border-blue{
    border-color: #2e51a2;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #2e51a2;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.bar{
    border: solid 2px #2e51a2;
    width: 100%;
    height: 15px;
    border-radius: 0 10px 10px 0;
}

@keyframes p40{
    0%{
      width:0;
  }
  40%{
      width:40%;
  }
}

@keyframes p50{
    0%{
      width:0;
  }
  50%{
      width:50%;
  }
}

@keyframes p60{
    0%{
      width:0;
  }
  60%{
      width:60%;
  }
}
@keyframes p70{
    0%{
      width:0;
  }
  70%{
      width:70%;
  }
}
@keyframes p80{
    0%{
      width:0;
  }
  80%{
      width:80%;
  }
}
.value{
  height: 100%;
  background-color: #2e51a2;
  animation-fill-mode:forwards;
  animation-duration:2s;
}
.value.p40{
  width: 40%;
  animation-name: p40;
}
.value.p50{
  width: 50%;
  animation-name: p50;
}
.value.p60{
  width: 60%;
  animation-name: p60;
}
.value.p70{
  width: 70%;
  animation-name: p70;
}
.value.p80{
  width: 80%;
  animation-name: p80;
}

.border-top-resume{
    border-top: 1px solid #2e51a2;
}

.fontsize-17{
    font-size: 17px;
}

.resume-time{
    background: #2e51a2;
    padding: 5px 15px;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
}

.border-radius-profile{
    border: 10px solid #dee2e6!important;
    border-color: #2e51a2!important;
}

.btn-blue {
    color: #fff;
    background-color: #2e51a2;
    border-color: #2e51a2;
}


.toTop-arrow {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.6;
    background: #2e51a2;
    cursor: pointer;
    position:fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    content: "";
}
.toTop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.5rem;
}
.toTop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}